# vim: set ft=xf86conf:noexpandtab:
{{ ansible_disclaimer|comment }}
Section "InputClass"
	Identifier	"touchpad joar/dotfiles"
	MatchIsTouchpad	"on"
	Driver "libinput"
{% for key, value in touchpad_xorg.options.items() %}
	Option "{{ key }}" "{{ value }}"
{% endfor %}
EndSection
