# vim: set ft=xf86conf:noexpandtab:
{{ ansible_disclaimer|comment }}
Section "InputClass"
	Identifier	"trackpoint joar/dotfiles"
	MatchIsPointer	"true"
	MatchProduct	"TrackPoint|DualPoint Stick"
	MatchDevicePath	"/dev/input/event*"
	Driver "libinput"
{% for key, value in trackpoint_xorg.options.items() %}
	Option "{{ key }}" "{{ value }}"
{% endfor %}
EndSection
