# Adapted from the "Lenovo X1 Tablet" entry in
# https://github.com/systemd/systemd/blob/c13ee7cc8be47b7d7a87b69b2ce9d3f35d530cee/hwdb/70-pointingstick.hwdb#L124-L127
# To find out the "dmi:bvn*:bvr*:pnr*" for your device, use
#
#   sudo evemu-describe

# Lenovo Thinkpad X1 Yoga
evdev:name:TPPS/2 IBM TrackPoint:dmi:bvn*:bvr*:bd*:svnLENOVO:pn*:pvrThinkPadX1Yoga1st:*
 POINTINGSTICK_SENSITIVITY=255
 POINTINGSTICK_CONST_ACCEL=1.5
