[core]
	excludesfile = ~/.gitexcludes
	attributesfile = ~/.gitattributes
	pager = diff-so-fancy | less --tabs=1,5 -R
[color]
	ui = auto
[user]
	email = joar@wandborg.se
	name = Joar Wandborg
	signingkey = C5BFD16A33ED24C1
[push]
	default = simple
	autoSetupRemote = true
[alias]
	co = checkout
	br = branch
	ci = commit
#[diff "image"]
#	command = git-imgdiff
[log]
	date = iso
[init]
	templatedir = /home/joar/.config/git-templates
	defaultBranch = main
[rerere]
	enabled = true
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[tig]
	# mouse = yes
[pull]
	ff = only
[merge]
	conflictstyle = diff3
[github]
	oauth-token = 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
	user = joar
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[select-branch]
	fuzzy = true
	limit = none
	show-remote-branches = true
