# This is the .gitignore for the git repository ~/dotfiles.git

# Ignore everything by default
*
!README.org
!.gitignore
!.gitexcludes
!.vimrc
!.emacs.d/init.el
!.tmux.conf
!texmf/tex/latex/base/org-article.cls
# Managed separately
!/.config/fish

