# This is the .gitignore for the git repository ~/dotfiles.git

# Ignore everything by default
/*

# Unignore
!/README.org
!/.gitignore
!/.gitexcludes
!/.vimrc
!/.emacs.d/init.el
!/.tmux.conf
!/.ptconfig.toml

# org-article
!texmf/tex/latex/base/org-article.cls

# XDG config, just the directory
!/.config
# reignore contents
/.config/*

# GTK3 styles
!/.config/gtk-3.0

# fish-shell config
!/.config/fish
!/.config/fish/*
!/.config/fish/**/*

# git-templates
!/.config/git-templates
!/.config/git-templates/*
!/.config/git-templates/**/*

# init.vim
!/.config/nvim/
!/.config/nvim/init.vim

# systemd services
!/.config/systemd/

# System config
!/system-config
!/system-config/*
!/system-config/**/*
