/*
.window-frame, .window-frame:backdrop {
    box-shadow: 0 0px 0px 1px alpha(black, 0.7), 0 0 0 1px mix(shade(@titlebar_bg_color, 0.1), @titlebar_fg_color, 0.00);
}
.window-frame, .window-frame:backdrop {
    box-shadow: 0 0px 0px 1px alpha(red, 0.7);
}
*/

.header-bar {
    padding-top: 3px;
    padding-bottom: 3px;
}

.header-bar .button.titlebutton {
    padding-top: 2px;
    padding-bottom: 2px;
}

TerminalWindow TerminalNotebook tab TerminalTabLabel {
    padding-top: 0px;
    padding-bottom: 0px;
}
